{% extends 'parent.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'title' %}
    <title>child html page</title>
    {% endblock %}
</head>
<body>
    
    {% block 'body_block' %}
    <h1>child html</h1>
    <div class="card" style="width: 18rem;">
        <img src="{% static 'images/krishna2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    {% endblock %}
</body>
</html>

